#resistor {margin: auto; width: 250px; height: 50px;}
#box {margin: auto; width: 100px; height: 50px; border: 3px solid black; position: relative; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); display: inline-block; border-radius: 15px; -webkit-border-radius: 15px; -moz-border-radius: 15px; -o-border-radius: 15px;}
#pita1, #pita2, #pita3, #pita4 {width: 10px; height: 50px; float: left;}
#pita5, #pita6, #kosong3, #kosong4 {width: 0px; height: 50px; float: left;}
.kosong, .kosong2 {height: 50px; float: left;}
.kosong2 {width: 20px;}
.kosong {width: 10px;}
.garis1, .garis2 {margin: auto; width: 70px; border: 1px solid black; position: relative; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%);}
.garis1 {float: left;}
.garis2 {float: right;}
.merah, .hitam, .coklat, .hijau, .biru, .ungu, .abu {color: white;}
.orange, .kuning, .emas, .perak, .putih, .nocolor {color: black;}
.hitam {background: black;}
.coklat {background: brown;}
.merah {background: red;}
.orange {background: orange;}
.kuning {background: yellow;}
.hijau {background: green;}
.biru {background: blue;}
.ungu {background: purple;}
.abu {background: grey;}
.emas {background: gold;}
.perak {background: silver;}
.putih {background: white;}
.nocolor {background: white;}
.fadeout, .fadein {max-height: 0; overflow-y: hidden; -webkit-transition: max-height 0.3s ease-in-out; -moz-transition: max-height 0.3s ease-in-out; -o-transition: max-height 0.3s ease-in-out; transition: max-height 0.3s ease-in-out;}
.fadein {max-height: 50px ;}
.imgout, .imgin {max-height: 0; overflow-y: hidden; -webkit-transition: max-height 0.3s ease-in-out; -moz-transition: max-height 0.3s ease-in-out; -o-transition: max-height 0.3s ease-in-out; transition: max-height 0.3s ease-in-out;}
.imgin {max-height: 422px ;}
.spasibawah {margin-bottom: 5px;}
input[type="text"], select {width: 130px;}
a {text-decoration: none;}
a:link {color: blue;}
a:hover {color: green;}
#kalkulator ,#result {text-align: center;}
#CalAngka, #CalWarna, #label, #opsi {display: table-cell; vertical-align: middle; position: relative;}
#CalAngka, #CalWarna {width: 350px; height: 400px;}
#CalAngka {background: #99ccff;}
#CalWarna {background: pink;}
#result {clear: both; display: table-cell; position: relative; background: #e6e6e6; padding-top: 5px; padding-bottom: 5px; width: 700px;}
#label, #opsi {width: 175px;}
